
<p id="notice"><%= notice %></p>


<div id="section">

<div class="row">
  <div class="col-sm-12 text-center bootstrap-welcome">




  </div>
</div>
<div style="text-align: center">
<h1>Hola administrador</h1>
<p>
  <font size="6">
Bienvenido a evaclicker administradores, en donde podras crear desde preguntas hasta los temarios para cada grupo
</font>
</p>
</div>




</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        this.nextElementSibling.classList.toggle("show");
    }
}
</script>
