<style>
.atras{float:left; width: 5%}
.izquierda{ float: left; width: 30%; }
.centro{ display: inline-block; width: 30%; }
.derecha{  display:inline-block; width: 30%; }
.siguiente{float: right; width: 5%;}
</style>
<div class="container">
   <div class="atras">

  atras



   </div>
   <div class="izquierda">
<p>Texto de la pregunta</p>
<br>
<%= image_tag("Acierto.png") %>


   </div>
   <div class="centro">

     grafica

   </div>
   <div class="derecha">

alumnos

   </div>
   <div class="siguiente">

     sig

   </div>
</div>
