<h1>Resultados de Quizz</h1>
<table>
<tr>

<td>
  <div id="chart-container"  align="center"><%= @chart.render() %>
  </div>
</td>

<td>
  <div id="chart-container2"  align="center"><%= @chart2.render() %>
  </div>
</td>

</tr>

<tr>
  <td>
    <div id="chart-container3"  align="center"><%= @chart3.render() %>
    </div>
  </td>

  <td>
    <div id="chart-container4"  align="center"><%= @chart4.render() %>
    </div>
  </td>


</tr>


</table>
