<h1>Grafica</h1>
<div id="chart-container"  align="center"><%= @chart.render() %>
</div>
<div align="center">
<%= link_to "<button class='button3'>Regresar</button>".html_safe, maestro_grupo_path(grupo: @grupo.id) %>


</div>
<br>
<br>
