<html>
<head>
<style>
#header {
    background-color:#5999CB;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#F9F9F9;
    height:300px;
    width:15%;
    float:left;
    padding:5px;
}
#section {
    width:85%;
    float:left;
    padding:10px;
    background-color: #F9F9F9;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
</style>
</head>
<body>

<div id="header">
<h1>Gestión</h1>
</div>

<div id="nav">
  <ul id="menu">
            <li><a href="">Inicio</a></li>
            <li><a href="">Cursos</a>
              <ul>
                <li><a href="">Frontend</a></li>
                <li><a href="">Backend</a></li>
                <li><a href="">Mobile</a></li>
              </ul>
            </li>
            <li><a href="">Tutoriales</a></li>
            <li><a href="">Contacto</a></li>
</div>

<div id="section">
<h2>London</h2>
<p>London is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.</p>
<p>Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.</p>
</div>

<div id="footer">
Copyright © W3Schools.com
</div>

</body>
</html>
