
<div align="center">
<h1> Nombre del Quizz: Quizz 1</h1>
<h1> El código del quizz es: </h1>
<h1 style="color:red;"> <%=   @codigo %></h1>
<h1> Alumnos que han entrado: </h1>
<br>
<div align="center">
    <%= link_to "<button class='button3'>Comenzar</button>".html_safe, "maestro/iniciar" %>
</div>

<div align="center">
    <button class='button3 x-send-msg'>Enviar Mensaje</button>
</div>


</div>
