
<div align="center">
 <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
<h1> Nombre del Quizz:</h1>
<h1><%=@quizz.nombre  %> </h1>
<h1> El código del quizz es: </h1>
<h1 style="color:red;"><%=@grupoquizz.Codigo  %> </h1>

<br>
<span id="alumnos" style="color:black;font-weight:bold;font-size:30px"></span><br>

<br>


<div align="center">
  <%= link_to "<button class='button3'>Comenzar</button>".html_safe, maestro_quizz_path(:idq => @quizz.id, :index => 0, :codigo => @grupoquizz.Codigo) %>



</div>
<script>
var alumnos=0;
var pusher = new Pusher('75159ef1c6a366266edb', {
encrypted: true
});
  var mensaje = pusher.subscribe('channel');
   mensaje.bind('registro', function(data) {
     alumnos=alumnos+1;
     document.getElementById("alumnos").innerHTML="Alumnos que han entrado : "+alumnos; 

    //  window.location.href = "<%= maestro_quizz_path(:idq => @quizz.id, :index => 0, :codigo => @grupoquizz.Codigo)  %>"
   });
   </script>


</div>
