
<div align="center">
 <script src="https://js.pusher.com/3.1/pusher.min.js"></script>
<h1> Nombre del Quizz:</h1>
<h1><%=@quizz.nombre  %> </h1>
<h1> El código del quizz es: </h1>
<h1 style="color:red;"><%=@grupoquizz.Codigo  %> </h1>


<br>


<div align="center">
<button class='button3 x-send-msg'>Comenzar</button>


</div>
<script>

var pusher = new Pusher('75159ef1c6a366266edb', {
encrypted: true
});
  var mensaje = pusher.subscribe('channel');
   mensaje.bind('event', function(data) {
      window.location.href = "<%= maestro_quizz_path(:idq => @quizz.id, :index => 0, :codigo => @grupoquizz.Codigo)  %>"
   });
   </script>


</div>
