<style>
.button2 {
  background-color: #FF9811; /* Green */
  color: #F9F9F9;
  width: 200px;
    height: 50px;
  text-align: center;
  font-size: 26px;
   border-radius: 20px;
   align-self: center;
}

</style>
<div align="center">


  <h1>Resultados de la pregunta  </h1>


  <div id="chart-container"  align="center"><%= @chart.render() %>
  </div>

  <div align="center">

<%= link_to "<button class='button3'>Continuar</button>".html_safe,  controller: "dashboard", action: "quizz", idq: @quizz.id, codigo: @codigo,  index: @index  %>

  </div>


</div>
