
<h1>Quizz : <%=@quizz.nombre %></h1>
<div align="center">
<h1>Pregunta :</h1>
<h1><%= @pregunta.texto%></h1>
 <script src="https://js.pusher.com/3.1/pusher.min.js"></script>

   <img src="\gravedad2.png" >
</div>
<br>
<br>
<br>


<div align="center">
    <button class='button3 x-send-msg'>Continuar</button>

</div>

    <script>

    var pusher2 = new Pusher('75159ef1c6a366266edb', {
    encrypted: true
    });
      var mensaje2 = pusher2.subscribe('channel');
       mensaje2.bind('event', function(data) {
window.location.href = "<%= maestro_mostrargrafica_path(:idq => @quizz.id, :index => @index, :codigo => @codigo,:pregunta => @pregunta.id)  %>"
           //window.open('<%= maestro_mostrargrafica_path %>');

       });
       </script>
