<h1>Moodle test web service</h1>
<% if @message.nil? %>
<p>
  <b>Search all users: </b>
<br>
  <i>Array: <%= @user%></i>


<% else %>

<h3><%= @message %></h3>
<h4><%= @configuration %></h4>

<% end %>
