

<div align="center">
<h1>Pon atención a tu profesor para la siguiente pregunta</h1>



<%=image_tag("loading.gif", size: "155")%>

  <%= link_to "<button>Continuar</button>".html_safe, "respuestas" %>
</div>
