<div align="center">


<h1>Tu puntaje es de <%=@score %>/ <%=@puntaje %></h1>



<%@puntaje.each do |p| %>


<%p.respuesta==1%>

 <img src="acierto.png" >
<%else%>
<img src="error.png" >

<%end%>

  <%end %>
<br>

<br>


<br>
<br>

<h1> Regular</h1>
</div>
