<div align="center">


<h1>Tu puntaje es de <%=@score %> / <%=@puntaje.count %></h1>



<%@puntaje.each do |p| %>


<%if p.respuesta==1%>

<%= image_tag("Acierto.png") %>

<%else%>
<%= image_tag("Error.png") %>


<%end%>

  <%end %>
<br>

<br>


<br>
<br>



<%if @califa==100%>

<h1>ÉPICO¡¡¡</h1>

<%elsif @califa>=90%>
<h1>Excelente</h1>

<%elsif @califa>=80%>
<h1>Regular</h1>

<%else%>
<h1>Necesitas apoyo</h1>

<%end%>


</div>
