<div align="center">
<h1> Respuestas</h1>
</div>
<br>
<br>


<style>
.button {

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button6 {
  background-color: #FF9811; /* Green */

  color: #F9F9F9;
  width: 200px;
    height: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;


   border-radius: 20px;
}

.button2 {width:200px;height:100px; color: black; font-size: 30px} /* azul */
.button3 {width:200px;height:100px; color: black; font-size: 30px;} /* violeta */
.button4 {width:200px;height:100px; color: black; font-size: 30px;} /* verde */
.button5 {width:200px;height:100px; color: black; font-size: 30px;} /* amarillo */
</style>

<div align="center">
<button class="button button5">Coopérnico</button>
<button class="button button2">Einstein</button>
<br>

<button class="button button3">Galileo</button>
<button class="button button4">Newton</button>
<br>
   <br>
   <br>
<%= link_to "<button class='button6'>Enviar respuesta</button>".html_safe, "enviada" %>
</di>
