<h1>Tema</h1>

<p>
  <strong>Nombre:</strong>
  <%= @tema.nombretema %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @tema.descripcion %>
</p>

<%= link_to 'Index', admin_temas_path %>
